body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, rgb(19,34,66) 60%, #000000);
  height: 100vh;
  color: white;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  margin-top: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(21, 18, 51);
  border: 1px solid rgb(49, 47, 138);
  border-radius: 10px 10px 0px 0px;
  text-align: center;
}

.header h1 {
  flex-grow: 1;

}

.description {
  margin-top: 20px;
}

.login-form {
  margin-top: 30px;
  border-radius: 0px 0px 10px 10px;
  padding: 20px;
  border: 1px solid rgb(49, 47, 138);
  background-color: rgb(21, 18, 51);
}

.login-form h2 {
  margin-bottom: 10px;
}

.login-form label,
.login-form input {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 30%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 15px;
}

.login-form button:hover {
  background-color: #45a049;
}

.login-form p {
  margin-top: 15px;
}

a {
  color: white;
}

a:hover{
  color: rgb(42, 182, 65);
}

.imagen{
  position: absolute;
  translate: 500px 150px;
  width: 200px;
}

#inputCode{
  width: 15%;
  float: left;
  margin-right: 8px;
  margin-top: 20px;
  height: 8px;
}
