/*body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.articulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    flex: 1 0 300px;
}

.articulo-nombre {
    font-size: 24px;
    color: #333;
}

.articulo-precio {
    font-size: 18px;
    color: #666;
}

.articulo-stock {
    font-size: 16px;
    color: #777;
}

.articulo-imagen {
    max-width: 100%;
    height: auto;
}
/*
/* mostrar-articulos.css */

body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
}

.articulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.articulo-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    flex: 1 0 300px;
    text-align: center;
}

.articulo-nombre {
    font-size: 24px;
    color: #333;
}

.articulo-precio {
    font-size: 18px;
    color: #666;
}

.articulo-stock {
    font-size: 16px;
    color: #777;
}

.articulo-imagen {
    max-width: 100%;
    height: auto;
}

/* Estilos para el botón "Agregar al carrito" */
.agregar-carrito-btn {
    background-color: #007BFF;
    color: #fff;
    padding: 8px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.agregar-carrito-btn:hover {
    background-color: #666;
}