body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.articulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.articulo-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
    flex: 1 0 300px;
    text-align: center;
}

.articulo-nombre {
    font-size: 24px;
    color: #333;
}

.articulo-precio {
    font-size: 18px;
    color: #666;
}

.articulo-stock {
    font-size: 16px;
    color: #777;
}

.articulo-imagen {
    max-width: 100%;
    height: auto;
}

.monto-total{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.cantidad-articulos{
    color: white;
    font-size: 16px;
}
/* Estilos para el botón "Agregar al carrito" */