body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

.articulos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 15px;
}

.articulo-container {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 220px;
    flex: 1 0 300px;
    text-align: center;
}

.articulo-nombre {
    font-size: 24px;
    color: #333;
}

.articulo-precio {
    font-size: 18px;
    color: #666;
}

.articulo-stock {
    font-size: 16px;
    color: #777;
    margin-bottom: 5px;
}

.articulo-imagen {
    width: 100%;
    height: 100px;
    object-fit: contain;
}

.monto-total{
    color: rgb(255, 255, 255);
    font-size: 18px;
}

.cantidad-articulos{
    color: white;
    font-size: 16px;
}

.custom-alert{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

}

.custom-alert-content{
    background-color: #4CAF50;
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.2);

}

.custom-alert-content button{

    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: point;
    margin-top: 10px;
}
