body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(19, 34, 66);
}

h1 {
    color: #fcfcfc;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button, a{
    display: inline-block;
    background-color: #4CAF50;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }

button:hover, a:hover{
    background-color: #347c37;
}
