body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, rgb(19,34,66) 60%, #000000);
    height: 100vh;
    margin: 0;
    padding: 0;
}

.conteiner{

    text-align: center;
    display: inline-block;
}

.estado{
    text-align: left;
}

.term{
    text-decoration: underline;
}

.imagen{

    width: 400px;
}

h1, h2, h3,p{
    color: #fcfcfc;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button, a{
    display: inline-block;
    background-color: #4CAF50;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    margin: 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
  }

button:hover, a:hover{
    background-color: #347c37;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: black;
    text-align: center;
    color: white;
}

footer p{
    margin: 0;
    padding-top: 5px;
}

.deuda{
    color: red;
    text-decoration: underline;
}
